<div class="repo p-2 text-center">
  <a href="https://github.com/ryo-ma/github-profile-trophy">
    <span class="d-none d-sm-none d-md-block">
      <img
        class="only-light w-100"
        alt="{{ include.username }}"
        src="{{ site.external_services.github_profile_trophy_url }}/?username={{ include.username | downcase }}&theme={{ site.repo_trophies.theme_light }}&no-frame=true&row=1&column=6"
      >
      <img
        class="only-dark w-100"
        alt="{{ include.username }}"
        src="{{ site.external_services.github_profile_trophy_url }}/?username={{ include.username | downcase }}&theme={{ site.repo_trophies.theme_dark }}&no-frame=true&row=1&column=6"
      >
    </span>

    <span class="d-none d-sm-block d-md-none">
      <img
        class="only-light w-100"
        alt="{{ include.username }}"
        src="{{ site.external_services.github_profile_trophy_url }}/?username={{ include.username | downcase }}&theme={{ site.repo_trophies.theme_light }}&no-frame=true&row=1&column=4"
      >
      <img
        class="only-dark w-100"
        alt="{{ include.username }}"
        src="{{ site.external_services.github_profile_trophy_url }}/?username={{ include.username | downcase }}&theme={{ site.repo_trophies.theme_dark }}&no-frame=true&row=1&column=4"
      >
    </span>

    <span class="d-block d-sm-none">
      <img
        class="only-light w-100"
        alt="{{ include.username }}"
        src="{{ site.external_services.github_profile_trophy_url }}/?username={{ include.username | downcase }}&theme={{ site.repo_trophies.theme_light }}&no-frame=true&row=1&column=3"
      >
      <img
        class="only-dark w-100"
        alt="{{ include.username }}"
        src="{{ site.external_services.github_profile_trophy_url }}/?username={{ include.username | downcase }}&theme={{ site.repo_trophies.theme_dark }}&no-frame=true&row=1&column=3"
      >
    </span>
  </a>
</div>
